<%= form_with model: user do |f| %>
<p>
<% if @user.errors.any? %>
    <h3>There were some errors:</h3>
    <ul>
    <% @user.errors.full_messages.each do |m| %>
        <li><%= m %>
    </ul>
    <% end %>
<% end %>

    <%= f.label :name %>
    <%= f.text_field :name %><br><br>

    <%= f.label :username %>
    <%= f.text_field :username %><br><br>

    <%= f.submit %>
</p>
<% end %>