<h1><%=@show.name%></h1>
<p>
<%=image_tag @show.image%><br><br>
<strong>Genre: </strong><%=@show.genre %><br>
<strong>Status: </strong><%=@show.status %><br>
<strong>Premiered: </strong><%=@show.premiered %><br>


</p>